.ho-btn--primary {
  background: var(--ho-color-orange);
  color: var(--ho-color-white);
  text-align: center;
  cursor: pointer;
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
}
