<template>
  <button :class="`ho-btn${checkType(buttonType)}`">
    {{ text }}
    <slot name="icon"/>
  </button>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

import {BUTTON_TYPE} from '@/core/constants';

export default defineComponent({
  name: 'ho-button',
  props: {
    text: String,
    buttonType: {
      type: String,
    },
  },
  data() {
    return {
      classType: BUTTON_TYPE,
    };
  },
  methods: {
    checkType(type: string) {
      switch (type) {
        case this.classType.primary:
          return '--primary';
        case this.classType.icon:
          return '--icon';
        default:
          return '--primary';
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "button";
</style>
