<template>
  <ho-section id="review">
    <template v-slot:body>
      <p>{{ review.quote }}</p>
      <h4>{{ review.name }}</h4>
      <h5>{{ review.site }}</h5>
      <img :src="review.img" :alt="review.alt"/>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {REVIEW} from '@/core/constants';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-review',
  components: {HoSection},
  data() {
    return {
      review: REVIEW,
    };
  },
});
</script>

<style scoped>

</style>
