<template>
  <ho-section id="prices" :data="prices">
    <template v-slot:body>
      <div class="prices-grid">
        <div class="prices-grid__col"
             v-for="(item, index) in prices.list"
             :key="index">
          <ho-card :data="item">
            <template v-slot:image>
            </template>
            <template v-slot:header>
              <p>{{ item.title }}</p>
            </template>
            <template v-slot:body>
              <p>{{ item.subtitle }}</p>
            </template>
          </ho-card>
        </div>
      </div>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {PRICES} from '@/core/constants';
import HoCard from '@/components/card/HoCard.vue';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-prices',
  components: {
    HoSection,
    HoCard,
  },
  data() {
    return {
      prices: PRICES,
    };
  },
});
</script>

<style lang="scss" scoped>
@import "pricess";
</style>
