<template>
  <ho-section id="join" :data="join">
    <template v-slot:body>
      <ho-button :text="join.button"/>
      <img v-for="(item, index) in sponsors" :key="index" :src="item.img" :alt="item.alt"/>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {JOIN_US, SPONSORS} from '@/core/constants';
import HoButton from '@/components/button/HoButton.vue';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-join',
  components: {
    HoSection,
    HoButton,
  },
  data() {
    return {
      join: JOIN_US,
      sponsors: SPONSORS,
    };
  },
});
</script>

<style scoped>

</style>
