.ho-card {
  align-items: center;
  justify-content: space-between;
  padding: var(--ho-space-base);

  &__header {
    font-size: 24px;
    font-weight: bold;
  }

  &__body {
    font-size: var(--ho-font-size-base);
    color: var(--ho-color-grey-md);
    padding-bottom: var(--ho-space-base-half);
  }
}
