<template>
  <div class="ho-card">
    <div class="ho-card__image"
         v-if="$slots.image">
      <slot name="image"/>
      <img :src="`${data.img}`" :alt="`${data.alt}`"/>
    </div>
    <div class="ho-card__header"
         v-if="$slots.header">
      <slot name="header"/>
    </div>
    <div class="ho-card__body"
         v-if="$slots.body">
      <slot name="body"/>
    </div>
    <div class="ho-card__footer"
         v-if="$slots.footer">
      <slot name="footer"/>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'ho-card',
  props: {
    data: Object,
  },
});
</script>

<style lang="scss" scoped>
@import "card";
</style>
