<template>
  <ho-section id="discover" :data="discover">
    <template v-slot:body>
      <div class="discover-grid">
        <div class="discover-grid__col"
             v-for="(item, index) in discover.list"
             :key="index">
          <ho-card :data="item">
            <template v-slot:image>
            </template>
            <template v-slot:header>
              <p>{{ item.title }}</p>
            </template>
            <template v-slot:body>
              <p>{{ item.subtitle }}</p>
            </template>
            <template v-slot:footer>
              <ho-button :text="item.button"/>
            </template>
          </ho-card>
        </div>
      </div>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {DISCOVER} from '@/core/constants';
import HoCard from '@/components/card/HoCard.vue';
import HoButton from '@/components/button/HoButton.vue';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-discover',
  components: {
    HoSection,
    HoButton,
    HoCard,
  },
  data() {
    return {
      discover: DISCOVER,
    };
  },
});
</script>

<style scoped lang="scss">
@import 'discover';
</style>
