.ho-header {
  background-color: transparent;
  padding: 30px 100px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    a {
      padding: 0 var(--ho-space-base);
      text-decoration: none;
      font-size: var(--ho-font-size-base);
      color: var(--ho-color-grey);
    }
  }

  &__social {
    display: flex;
    align-items: center;

    a {
      color: var(--ho-color-grey);

      svg {
        height: var(--ho-svg-size-sm);
        width: var(--ho-svg-size-sm);
      }
    }
  }
}
