<template>
  <header class="ho-header">
    <div class="ho-header__content">
      <a href="/" >
        <ho-icon icon="retinus"/>
      </a>
      <nav class="ho-header__nav">
        <a href="#features">Features</a>
        <a href="#dropdown">DropDown</a>
        <a href="#contact">Contact</a>
      </nav>
      <div class="ho-header__social">
        <a href="#facebook">
          <ho-icon icon="facebook"/>
        </a>
        <a href="#twitter">
          <ho-icon icon="twitter"/>
        </a>
        <a href="#instagram">
          <ho-icon icon="instagram"/>
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import {defineComponent} from 'vue';

import HoIcon from '@/components/icons/HoIcon.vue';

export default defineComponent({
  name: 'ho-header',
  components: {
    HoIcon,
  },
});
</script>

<style lang="scss">
@import 'header';
</style>
