:root {

  --ho-font-size-base: 14px;
  --ho-font-size-md: 20px;
  --ho-font-size-lg: 60px;

  --ho-space-base: 20px;
  --ho-space-base-half: calc(var(--ho-space-base) / 2);
  --ho-space-base-double: calc(var(--ho-space-base) * 2);
}
