<template>
  <ho-section class="ho-main">
    <template v-slot:body>
      <h1>{{ main.title }}</h1>
      <h5>{{ main.subtitle }}</h5>
      <ho-button :text="main.button"/>
      <div class="ho-main__icons">
        <div v-for="(item, index) in main.list"
             :key="index"
             class="ho-main__icons-item">
          <ho-icon class="ho-icon" :icon="item.icon" />
          <p>{{item.text}}</p>
        </div>
      </div>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {MAIN} from '@/core/constants';
import HoButton from '@/components/button/HoButton.vue';
import HoIcon from '@/components/icons/HoIcon.vue';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-main',
  components: {
    HoSection,
    HoIcon,
    HoButton,
  },
  data() {
    return {
      main: MAIN,
    };
  },
});
</script>

<style lang="scss" scoped>
@import 'main';
</style>
