.ho-main {
  background-image: linear-gradient(rgba(54, 63, 72, 0.85), rgba(54, 63, 72, 0.85)),url('https://pixfort.com/items/1/images/hotel/intro-bg-hotel.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;

  h1 {
    color: var(--ho-color-white);
    font-size: var(--ho-font-size-lg);
  }

  h5 {
    color: var(--ho-color-grey);
    font-size: var(--ho-font-size-md);
  }

  .ho-icon {
    color: var(--ho-color-orange);
  }

  &__icons {
    padding: var(--ho-space-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ho-color-white);
    text-transform: capitalize;
    font-weight: bold;
    font-size: calc(var(--ho-font-size-base) + 2px);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

}
