<template>
  <section class="ho-section">
    <div class="ho-section__content">
      <div class="ho-section__title"
           v-if="data">
        <h5>{{ data.header }}</h5>
        <h2>{{ data.title }}</h2>
        <p>{{ data.subtitle }}</p>
      </div>
      <slot name="body"/>
    </div>
  </section>
</template>

<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'ho-section',
  props: {
    data: Object,
  },
});
</script>

<style lang="scss">
@import 'section';
</style>
