.ho-section {
  display: flex;
  justify-content: center;
  text-align: center;

  &__title {

    h5 {
      color: var(--ho-color-orange);
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
    }

    h2 {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 36px;
    }

    p {
      font-size: 20px;
      color: var(--ho-color-grey-md);
    }
  }
}
