<template>
  <ho-section id="subscribe" :data="form">
    <template v-slot:body>
      <ho-button :text="form.button"/>
      <p>{{ form.footer }}</p>
    </template>
  </ho-section>
</template>

<script>
import {defineComponent} from 'vue';

import {FORM, PLACEHOLDER_TEXT} from '@/core/constants';
import HoButton from '@/components/button/HoButton.vue';
import HoSection from '@/components/layout/section/HoSection.vue';

export default defineComponent({
  name: 'ho-subscribe',
  components: {
    HoSection,
    HoButton,
  },
  data() {
    return {
      form: FORM,
      placeholder: PLACEHOLDER_TEXT,
    };
  },
});
</script>

<style scoped>

</style>
