<template>
  <section id="ho-footer">
    <div class="footer-grid">
      <div class="footer-grid__col">
        <ho-card>
          <template v-slot:header>
            <p>{{ contact.title }}</p>
          </template>
          <template v-slot:body>
            <p>{{ contact.subtitle }}</p>
          </template>
          <template v-slot:footer>
            <ho-button :text="contact.button"/>
          </template>
        </ho-card>
        <ho-card>
          <template v-slot:header>
            <p>{{ visit.title }}</p>
          </template>
          <template v-slot:body>
            <p>{{ visit.address }}</p>
            <p>{{ visit.email }}</p>
            <p>{{ visit.phone }}</p>
          </template>
        </ho-card>
        <ho-card>
          <template v-slot:header>
            <p>{{ social.title }}</p>
          </template>
          <template v-slot:body>
            <p>{{ social.subtitle }}</p>
          </template>
          <template v-slot:footer>
            <ho-icon icon="facebook"/>
            <ho-icon icon="twitter"/>
            <ho-icon icon="instagram"/>
          </template>
        </ho-card>
      </div>
    </div>
  </section>
</template>

<script>
import {defineComponent} from 'vue';

import {CONTACT_US, VISIT_US, SOCIAL} from '@/core/constants';
import HoButton from '@/components/button/HoButton.vue';
import HoCard from '@/components/card/HoCard.vue';
import HoIcon from '@/components/icons/HoIcon.vue';

export default defineComponent({
  name: 'ho-footer',
  components: {
    HoIcon,
    HoButton,
    HoCard,
  },
  data() {
    return {
      contact: CONTACT_US,
      visit: VISIT_US,
      social: SOCIAL,
    };
  },
});
</script>

<style scoped>

</style>
