<template>
  <svg xmlns="http://www.w3.org/2000/svg"
       :viewBox="`0 0 ${viewBox} ${viewBox}`"
       :class="className">
    <keep-alive>
      <component :is="dynamicIcon"></component>
    </keep-alive>
  </svg>
</template>

<script>
import icons from './svg/index';

export default {
  name: 'ho-icon',
  components: {
    ...icons,
  },
  props: {
    icon: {
      type: String,
      required: true,
    },
    viewBox: {
      type: String,
      default: '24',
    },
    className: {
      type: String,
    },
  },
  computed: {
    dynamicIcon() {
      return `ho-${this.icon}`;
    },
  },
};
</script>

<style lang="scss" scoped>
svg {
  display: block;
  width: var(--ho-svg-size-lg);
  min-width: var(--ho-svg-size-lg);
  height: var(--ho-svg-size-lg);
  overflow: hidden;
  vertical-align: middle;
  fill: currentColor;
}
</style>
