<template>
  <ho-header/>
  <ho-main/>
  <ho-discover/>
  <ho-prices/>
  <ho-join/>
  <ho-review/>
  <ho-subscribe/>
  <ho-footer/>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

import HoHeader from '@/components/layout/header/HoHeader.vue';
import HoMain from '@/views/main/HoMain.vue';
import HoDiscover from '@/views/discover/HoDiscover.vue';
import HoPrices from '@/views/prices/HoPrices.vue';
import HoJoin from '@/views/join/HoJoin.vue';
import HoReview from '@/views/review/HoReview.vue';
import HoSubscribe from '@/views/subscribe/HoSubscribe.vue';
import HoFooter from '@/components/layout/footer/HoFooter.vue';

export default defineComponent({
  components: {
    HoFooter,
    HoSubscribe,
    HoReview,
    HoJoin,
    HoPrices,
    HoDiscover,
    HoHeader,
    HoMain,
  },
});
</script>
